<a href="https://colab.research.google.com/github/KabshaZain/Tools-for-Data-Science/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular languages for Data Science
*   List popular libraries for Data Science
*   List Data Science Tools
*   List a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:


1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   NumPy
2.   SciPy
3.   Pandas

```markdown
Data Science Tools |
-------------------|
TensorFlow         |
Jupyter Notebook   |
Apache Spark       |     
KNIME              |
```

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers#
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60#
def convert_to_hours(minutes):
    hour = minutes / 60
     
    return (hour)
     
# Driver program
n = 200
print(convert_to_hours(n))

3.3333333333333335

## Author
Kabsha Zain